.sectionHeader{
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    color:#4d82cb;
}
.headerBreak {
    margin-top: 5px;
    margin-bottom: 10px;
}
.articleRow {
    padding-bottom: 20px;
}
.section-container{
    padding-top: 30px;
}

.card-deck {
    padding-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 20px;

}
.more-link{
    margin-bottom: 5px;
    color:#4d82cb
}